* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffe5ec;
}

h1 {
    font-size: 3rem;
    color: #ff8fab;
}

h2 {
    font-size: 2rem;
    color: #ff8fab;
}

/* ----------------------------- */
/* HEADER */
/* ----------------------------- */

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ff8fab;
}

/* Header Logo */
header > img {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #ffc2d1;
    box-shadow: 0 2px 7px black;
}

/* Unordered List */
ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

/* List */
li {
    list-style: none;
}

/* Links of Lists */
li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

li > a:hover {
    color: #fb6f92;
}

/* ----------------------------- */
/* MAIN */
/* ----------------------------- */

/* Main */
main {
    margin-top: 5%;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

/* Promotion: section */
.promote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    height: 500px;
}

@media screen and (max-width: 1400px) {
    .promote {
        height: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .promote {
        height: 400px;
    }
}

@media screen and (max-width: 992px) {
    .promote {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .promote {
        height: 250px;
    }
}

@media screen and (max-width: 576px) {
    .promote {
        height: 150px;
    }
}

/* Promotion Container: article */
.promote-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    overflow: clip;
    box-shadow: 1.5cqi 1.5cqi 1cqi rgb(120, 120, 120);
}

.promote-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* h1 inside promote container */
.promote-container > h1 {
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 3cqi;
    text-shadow: 1px 1px black;
}

/* p inside promote container */
.promote-container > p {
    color: white;
    position: absolute;
    width: 60%;
    top: 17%;
    left: 3%;
    font-size: 1.5cqi;
    text-shadow: 1px 1px black;
}

/* button inside promote container */
.promote-container > button {
    max-height: 20%;
    position: absolute;
    bottom: 5%;
    left: 3%;
    border: 0;
    font-size: 2cqi;
    border-radius: 7px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #fb6f92;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px black;
}

/* Info */
.info {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 1.5cqi 1.5cqi 1cqi rgb(120, 120, 120);
    margin-top: 5%;
    border-radius: 10px;
}

.new-fine {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.open-hours {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container > h2 {
    position: absolute;
    top: 3%;
    margin-left: 5%;
    margin-right: auto;
    font-size: 2cqi;
    text-shadow: 1px 1px black;
}

.container > p {
    position: absolute;
    top: 11%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    color: white;
    font-size: 1.5cqi;
    text-shadow: 1px 1px black;
}

/* ----------------------------- */
/* FOOTER */
/* ----------------------------- */

/* Footer */
footer {
    margin-top: 5%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #ffc2d1;
    box-shadow: 0 -1px 10px black;
}

/* Image Container */
.img {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

/* Image */
.img > img {
    width: 200px;
    height: 100%;
    object-fit: scale-down;
    padding-left: 5%;
}

/* Copyright Container */
.copy {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

/* Copyright Text */
.copy > p {
    text-wrap: nowrap;
    padding-right: 5%;
    color: black;
}
